.categoryGroup {
  position: relative;
  background: var(--popover);
  min-height: 10rem;
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  animation: fade-in 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.categoryGroup:hover {
  background-color: color-mix(in srgb, var(--hover-color) 15%, white 85%);
  box-shadow: 0 6px 16px color-mix(in srgb, var(--hover-color) 25%, transparent);
}

.groupTitle {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--card-foreground);
}

/* Auto-placement by column */
.compactList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 20rem; /* You need to set a max-height for wrapping to work */

  column-gap: 1rem;
  row-gap: 0.25rem;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (width < 698px) {
    flex-wrap: nowrap;
  }
}
.compactItem {
  padding-bottom: 0.1rem;
  border-bottom: 1px solid #eee;
}

.compactLink {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.compactLink:hover {
  color: var(--ring);
}

.categoryBtnOpenMultipleLinks {
  position: absolute;
  right: 16px;
  top: 10px;
  padding: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;

  background-color: var(--destructive);
  color: var(--sidebar-primary-foreground);
  border: none;
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 400;
  transition: all ease-in-out 0.3s;
  font-family: var(--font-mono);
}

.categoryBtnOpenMultipleLinks:hover {
  transform: translateY(-2px);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
