.buttonPicker {
  width: 24px;
  height: 24px;
  padding: 0.25rem;
  margin: 0.25rem;
  border: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: var(--radius);
}

.buttonPicker:hover {
  filter: drop-shadow(0 0 0.25rem var(--ring));
}

.buttonPicker:focus {
  outline: 1px solid var(--muted-foreground);
}
