.dashboard {
  min-height: 100vh;
  background-color: var(--background);
  width: 100%;
  /* max-width: 1600px; */
  margin: 0 auto;
  animation: fade-in 0.4s ease-in-out;
}

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 24px;
  padding: 24px 32px;
  max-width: 1600px;
  margin: 0 auto;

  @media (width < 698px) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 24px 32px;
    margin: 0 auto;
  }
}

/* SIDEBAR */
.sidebar {
  background: var(--background);
  border-radius: var(--radius-sm);
  padding: 20px;
  height: fit-content;
  position: sticky;
  top: 24px;
  color: var(--card-foreground);
  line-height: 1.4;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.sidebarHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  height: 2rem;
  line-height: 1.5;
  font-weight: 500;
  color: var(--foreground);
  font-family: var(--font-serif);
}

.addBtn {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background: var(--primary);
  color: var(--primary-foreground);
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.addBtn:hover {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

.categoryItem {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s;
  font-weight: 400;
  font-size: 1.25rem;
}

.categoryItem:hover {
  background-color: var(--accent);
}

.categoryItem.active {
  background-color: var(--accent);
  font-weight: 600;
}

.categoryActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.count {
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: var(--destructive);
}

.deleteBtn {
  background: none;
  border: none;
  color: var(--destructive);
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.deleteBtn:hover {
  color: #c0392b;
}

.emptyMessage {
  text-align: center;
  color: #999;
  font-size: 14px;
  margin-top: 20px;
}

/* MAIN CONTENT */
.main {
  background: var(--background);
  border-radius: var(--radius-sm);
  padding: 24px;
  min-height: 600px;

  @media (width < 698px) {
    padding: 0;
  }
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.mainHeader h2 {
  margin: 0;
  font-size: 24px;
  color: var(--card-foreground);

  @media (width < 698px) {
    font-size: 1.25rem;
  }
}

.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  padding: 5px 15px;
  background: var(--primary);
  color: var(--primary-foreground);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;

  @media (width < 698px) {
    font-size: 0.75rem;
    padding: 5px 5px;
    height: 35px;
    column-gap: 0.5rem;
  }
}

.createBtn > p {
  padding: 0;
  margin: 0.5rem;
}

.createBtn:hover {
  transform: translateY(-2px);
}

/* LINKS GRID */
.linksGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 20px;
  align-items: start;

  @media (width < 698px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 10px;
    align-items: start;
  }
}

.emptyState {
  grid-column: 1 / -1;
  text-align: center;
  padding: 60px 20px;
  color: #999;
  place-items: center;
}

.emptyState p {
  font-size: 18px;
  margin-bottom: 20px;
}

/* LOADING & ERROR */
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 4px solid #e0e0e0;
  border-top-color: var(--ring);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--primary);
}

/* MODALS */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: var(--popover);
  padding: 30px;
  border-radius: var(--radius-xl);
  max-width: 500px;
  width: 90%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);

  animation: slide-in 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* ANIIMATIONS */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* big button empty state */

.createBtnEmptyState {
  display: flex;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  padding: 8px 16px;
  background-color: var(--accent);
  color: var(--foreground);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;

  box-shadow: 0 0 0 oklch(0.62 0.14 39.15 / 0);
  transition: box-shadow 0.3s ease-in-out;

  @media (width < 698px) {
    padding: 4px 8px;
    font-size: 0.75rem;
  }
}

.createBtnEmptyState:hover {
  box-shadow: 0 0 20px 5px oklch(0.62 0.14 39.15 / 0.4);
}
